{% extends 'base.html.twig' %}

{% block title %}Conference{% endblock %}

{% block body %}
    <h2>Give your feedback</h2>

    {% for conference in all_conferences %}
        <h3>{{ conference }}</h3>
        <p>
{#            <a href="{{ path('conference', { id: conference.id }) }}">View</a>#}
            <a href="{{ path('conference', { slug: conference.slug }) }}">View</a>
        </p>

    {% endfor %}
{% endblock %}